// Body
$body-bg: #FFF9F4;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #e31e24;
$input-bg: #ffffff;

$btn-color: #e31e24;

